html {
  font-family: "Noto Sans", sans-serif;
}

header {
  padding-top: 1.3rem;
}

.japanese {
  font-family: "Noto Sans Japanese", sans-serif;
}

nav a {
  text-decoration: none;
  color: #005e76;
  border-bottom: 2px solid #8bc9d9;
}

#nav {
  text-align: center;
}

.centered-logo {
  text-align: center;
}

nav a:hover {
  color: #0084a6;
  border-bottom: 2px solid #0084a6;
}

.box-border {
  border-bottom: 2px solid #e2e2e2;
  border-top: 2px solid #e2e2e2;
}

.box-top {
  border-top: 2px solid #e2e2e2;
}

.btn-ghost {
  border-color: #8bc9d9;
  color: #005e76;
}

.btn-ghost:hover {
  border-color: #005e76;
  color: #000;
  background-color: #8bc9d9;
}

@media only screen and (min-width: 60em) {

  header {
    padding-top: 0;
  }

  #nav {
    text-align: right;
  }

  .centered-logo {
    text-align: left;
  }

}
