html {
  font-family: "Noto Sans", sans-serif;
}

.japanese {
  font-family: "Noto Sans Japanese", sans-serif;
}

nav a {
  text-decoration: none;
  color: #005e76;
  border-bottom: 2px solid #8bc9d9;
}

nav a:hover {
  border-bottom: 2px solid #005e76;
}

.box-border {
  border-bottom: 2px solid #e2e2e2;
  border-top: 2px solid #e2e2e2;
}

.box-top {
  border-top: 2px solid #e2e2e2;
}

.pad-left {
  padding-left: 0.5rem;
}

.btn-ghost {
  border-color: #8bc9d9;
  color: #005e76;
}

.btn-ghost:hover {
  border-color: #005e76;
  color: #005e76;
  background-color: #8bc9d9;
}
